{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "myModule": true,
        "describe": true,
        "before": true,
        "it": true,
        "after": true,
        "expect": true,
        "app": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "arrow-body-style": [2, "always"],
    "max-len": ["error", 500],
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "no-prototype-builtins": 0,
    "consistent-return": 0,
    "no-useless-escape": 0,
  }
}
